
# -------------------------
# Environment / secrets
# -------------------------
.env
.env.*
!.env.example

# -------------------------
# Python virtual env
# -------------------------
.venv/
venv/
ENV/
env/

# -------------------------
# Python cache / compiled
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# IDE / Editors
# -------------------------
.vscode/
.idea/
*.swp

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Docker
# -------------------------
*.pid
